.cp-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF7A3D;
}

.cp-box {
  width: 420px;
  background: white;
  padding: 35px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}



.cp-subtitle {
  color: gray;
  font-size: 13px;
  margin-bottom: 25px;
}

label {
  display: block;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 13px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 14px;
}

input:focus {
  border-color: #ffa067;
}

.cp-strength {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.cp-bar {
  width: 100%;
  height: 6px;
  border-radius: 8px;
  background: red;
}

.cp-bar.weak {
  background: red;
}

.cp-bar.good {
  background: orange;
}

.cp-bar.excellent {
  background: green;
}

.cp-btn {
  width: 100%;
  background: black;
  color: white;
  border: none;
  padding: 13px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
}

.cp-btn:hover {
  background: #ff814d;
}
