.forgot-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF7A3D;
}

.forgot-card {
   width: 380px;
  background: white;
  padding: 35px;
  border-radius: 22px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.icon {
  font-size: 40px;
  margin-bottom: 15px;
  margin-left: 120px;
}

h2 {
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #e85c00;
}

.back {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 14px;
  margin-bottom: 10px;
}