/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: black;
  color: white;
}

.nav-links{
  display: flex;
  gap: 20px;
  list-style: none;
}

.logo{
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 1px;
  color: beige;
}

/* Profile Cards Row */
.profile-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}
/* Layout Wrapper */
.layout{
  display: flex;
  gap: 40px;
  margin-top: 10px;
}

/* Sidebar */
.sidebar{
  width: 220px;
  background: #111;
  color: white;
  padding: 20px;
  border-radius: 10px;
  height: 300px;
}

.sidebar h3{
  margin-bottom: 10px;
}

.sidebar ul{
  list-style: none;
  padding: 0;
}

.sidebar li{
  margin: 10px 0;
  cursor: pointer;
}

.profile-card{
  width: 200px;
  text-align: center;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Profile Image */
.profile-img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit:contain;
  border: 4px solid black;
}
