.notification-container{
  width: 420px;
  padding: 20px;
  margin: 30px auto;
  background: #f5f7ff;
  border-radius: 10px;
}

h2{
  position: relative;
  font-size: 22px;
}

/* Badge */
.badge{
  background: red;
  color: white;
  font-size: 12px;
  padding: 4px 9px;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  right: -20px;
  z-index: 10;
}

/* Notification Box */
.notification{
  display: flex;
  gap: 10px;
  background: white;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.notification.unread{
  background: #e9f0ff;
  font-weight: 600;
}

/* Dot */
.dot{
  width: 12px;
  height: 12px;
  background: blue;
  border-radius: 50%;
  margin-top: 8px;
}

.notification .time{
  font-size: 12px;
  color: gray;
}