
.user-table-container {
  padding: 30px;
  font-family: "Segoe UI", Arial;
  max-width: 1100px;
  margin: auto;
}


.user-table-container h1 {
  margin-bottom: 18px;
  font-size: 26px;
  font-weight: 600;
  color: #333;
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

.add-btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #4c8bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.add-btn:hover {
  background: #2f6dfc;
}
.filter-btn {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background: #eef2ff;
  border: 1px solid #d4dcff;
  cursor: pointer;
  color: #000
}

.filter-btn:hover {
  background: #dfe6ff;
}

.user-table thead {
  background: #f3f6fb;
}

.user-table th {
  padding: 14px;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  color: #555;
}


.user-table td {
  padding: 14px;
  font-size: 14px;
  color: #444;
  border-bottom: 1px solid #eeeeee;
}


.user-table tbody tr:hover {
  background: #f6faff;
  transition: 0.2s;
}


.inactive-row {
  background: #fff6f6 !important;
}


.status-badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.active {
  background: #e9fff2;
  color: #1f9b4a;
  border: 1px solid #baf0d2;
}

.inactive {
  background: #fff1f1;
  color: #d62828;
  border: 1px solid #ffc9c9;
}


.action-btn {
  background: #f1f4ff;
  border: 1px solid #d8e0ff;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 6px;
}

.action-btn:hover {
  background: #e5ecff;
}

.action-btn svg {
  color: #3b5bff;
  font-size: 18px;
}
.add-user-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.add-user-form input,
.add-user-form select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.add-user-form input:focus {
  border-color: #4c8bff;
}
