* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}


h1, h2, p {
  color: #333;
}
